<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8" />
    <title>Navegador MIB - Marcos Guerrero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>MIB Browser - Marcos G.</h1>

    <form action="/snmp" method="post">
        <label>IP de l'agent:</label>
        <input type="text" name="ip" required>

        <label>Community:</label>
        <input type="text" name="community" value="public" required>

        <label>OID:</label>
        <select name="oid" required>
            {% for oid, desc in oid_list %}
                <option value="{{ oid }}">{{ desc }} ({{ oid }})</option>
            {% endfor %}
        </select>

        <label>Operació:</label>
        <select name="operation" id="operation" onchange="toggleValueFields()" required>
            <option value="get">GET</option>
            <option value="next">NEXT</option>
            <option value="set">SET</option>
            <option value="bulkwalk">BULKWALK</option>
        </select>

        <div id="set-fields" style="display: none;">
            <label>Valor:</label>
            <input type="text" name="value">

            <label>Tipus:</label>
            <select name="value_type">
                <option value="Integer">Integer</option>
                <option value="OctetString">OctetString</option>
            </select>
        </div>

        <button type="submit">Enviar</button>
     
    <a href="{{ url_for('show_traps') }}">Historial de Traps</a>

    </form>

    <script>
        function toggleValueFields() {
            const op = document.getElementById("operation").value;
            document.getElementById("set-fields").style.display = (op === "set") ? "block" : "none";
        }
    </script>
</body>
</html>
